*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;

  @media (prefers-reduced-motion: reduce) {
    animation-delay: -1ms;
    animation-duration: 1ms;
    animation-iteration-count: 1;
    background-attachment: initial;
    scroll-behavior: auto;
    transition-delay: 0s;
    transition-duration: 0s;
  }
}
