@layer hero {
  hero {
    grid-area: hero;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'last about';

    background-color: var(--dout--theme--header--background-color);
    transition: background-color 0.2s linear;
  }

  :has([name='theme-switcher']:checked) {
    hero {
      background-color: var(--dout--theme--header--background-color--switch);
    }
  }

  @import 'last-article';
  @import 'about-me';
}
