last-article {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--dout--gutter);
  // padding: var(--dout--gutter);

  background-color: var(--dout--theme--header--background-color);
  transition: background-color 0.2s linear;

  article {
    display: flex;
    flex-flow: column nowrap;

    header {
      display: flex;
      flex-flow: column-reverse nowrap;
      gap: 0;
    }

    content {
      display: flex;
    }
  }
}

body:has([name='theme-switcher']:checked) {
  last-article {
    background-color: var(--dout--theme--header--background-color--switch);
  }
}
