@layer content {
  main {
    > content {
      grid-area: content;

      display: flex;
      flex-flow: column nowrap;
      justify-content: start;
      align-items: start;
      gap: var(--dude--gutter);
      padding: var(--dude--gutter);
    }
  }
}
