:root {
  --dout--focus--width: 2px;
  --dout--focus--offset-from: 8px;
  --dout--focus--offset-to: 2px;

  --dout--focus--transition: outline 450ms ease-out, outline-offset 350ms ease-out;
}

:where(a, area, button, input, label:has(input), select, summary, textarea, [tabindex]) {
  color: inherit;
  background-color: transparent;

  outline: var(--dout--focus--width) dashed transparent;
  outline-offset: var(--dout--focus--offset-from);
  transition: var(--dout--focus--transition);

  &:focus {
    outline: var(--dout--focus--width) solid var(--dout--theme--focus-color);
    outline-offset: var(--dout--focus--offset-to);
  }
}

[tabindex='-1']:focus:not(:focus-visible) {
  outline: 0;
}

// body:has([name='theme-switcher']:checked) {
//   :where(a, area, button, input, label:has(input), select, summary, textarea, [tabindex]) {
//     --dout--focus--color: var(--dout--theme--focus-color--switch);
//   }
// }

@include detect(firefox) {
  * {
    &::-moz-focus-inner,
    &::-moz-focus-outer {
      border: 0;
    }
  }
}
