:root {
  --focus--parent--bg-color: var(--theme--background-color);
  --focus--color: var(--theme--focus-color);
  --focus--outline--offset: 3px;
  --focus--outline: 0 0 0 var(--focus--outline--offset) var(--focus--parent--bg-color),
    0 0 0 calc(var(--focus--outline--offset) * 2) var(--focus--color);

  --focus--transition: box-shadow 250ms ease-in-out;
}

:where(a, area, button, input, label, select, summary, textarea, [tabindex]) {
  position: relative;
  outline: none !important;
  outline-offset: none !important;
  transition: var(--focus--transition);
  margin: 0;
  z-index: 1;

  &:focus {
    box-shadow: var(--focus--outline);
    z-index: 2;
  }
}

[tabindex='-1']:focus:not(:focus-visible) {
  outline: 0;
}

@include detect(firefox) {
  * {
    &::-moz-focus-inner,
    &::-moz-focus-outer {
      border: 0;
    }
  }
}
