<last-article>
  <article>
    <header>
      <a href="{{lastPost.path}}">
        <h2>{{lastPost.title}}</h2>
      </a>
      <time datetime="{{lastPost.date}}">
        {{lastPost.dateString}}
      </time>
      <if condition="!!lastPost.tags.length">
        <tags>
          <tags-list>
            <if condition="!!lastPost.tags[0]">
              <a href="{{lastPost.tags[0].url}}" tag>{{lastPost.tags[0].label}}</a>
            </if>
            <if condition="!!lastPost.tags[1]">
              <a href="{{lastPost.tags[1].url}}" tag>{{lastPost.tags[1].label}}</a>
            </if>
          </tags-list>
        </tags>
      </if>
    </header>
    <content>{{lastPost.description}}</content>
  </article>
</last-article>
