@layer utilities {
  [data-visually-hidden] {
    position: absolute;
    width: var(--dout--visually-hidden-size);
    height: var(--dout--visually-hidden-size);
    padding: 0;
    border: 0;
    margin: var(--dout--visually-hidden-offset);
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
  }

  [data-cluster] {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--dout--space-2);
  }
}
