.post-card {
  margin: 0 0 var(--space);
  position: relative;

  &__header {
    margin-left: calc(var(--space) * -1);
    margin-right: calc(var(--space) * -1);
    margin-bottom: calc(var(--space) / 2);
    margin-top: calc(var(--space) * -1);
    overflow: hidden;
    border-radius: var(--radius) var(--radius) 0 0;

    &:empty {
      display: none;
    }
  }

  &__image {
    min-width: 100%;
  }

  &__title {
    margin-top: 0;
  }

  &__description {
    font-size: 1.6rem;
  }

  // &:hover {
  //   transform: translateY(-.5rem);
  //   box-shadow: 1px 10px 30px 0 rgba(0,0,0,.1);
  // }

  &__meta {
    font-size: 1.3rem;
  }

  &__tags {
    z-index: 1;
    position: relative;
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    text-indent: -9999px;
    z-index: 0;
  }
}

// @media screen and (min-width: 1024px) {
//   /* Render items as columns */
//   .posts {
//     display: flex;
//     flex-flow: column wrap;
//   }

//   .post-card {
//     width: 32%;
//     margin-bottom: 2%; /* Optional */
//   }

//   /* Re-order items into rows */
//   .post-card:nth-child(3n + 1) {
//     order: 1;
//   }
//   .post-card:nth-child(3n + 2) {
//     order: 2;
//   }
//   .post-card:nth-child(3n) {
//     order: 3;
//   }

//   /* Force new columns */
//   .posts::before,
//   .posts::after {
//     content: '';
//     flex-basis: 100%;
//     width: 0;
//     order: 2;
//   }
// }
