<articles>
  <h3>{{months[0].label}}</h3>
  <each loop="post, index in posts.filter(post => post.date >= months[0].from && post.date <= months[0].to)">
    {{post.date.toLocaleDateString('it-IT')}}<a href="{{post.path}}">{{post.title}}</a>
  </each>
  <h3>{{months[1].label}}</h3>
  <each loop="post, index in posts.filter(post => post.date >= months[1].from && post.date <= months[1].to)">
    {{post.date.toLocaleDateString('it-IT')}}<a href="{{post.path}}">{{post.title}}</a>
  </each>
  <h3>{{months[2].label}}</h3>
  <each loop="post, index in posts.filter(post => post.date >= months[2].from && post.date <= months[2].to)">
    {{post.date.toLocaleDateString('it-IT')}}<a href="{{post.path}}">{{post.title}}</a>
  </each>
</articles>
