<extends src="./layouts/leaf.html" locals='{"title": " - ###LABEL###"}'>
  <block name="content">
    <h3>###LABEL###</h3>
    <each
      loop="post, index in posts.filter(post => 
              post.date >= new Date('###FROM###') && post.date <= new Date('###TO###'))
            "
    >
      {{post.date.toLocaleDateString('it-IT')}}<a href="{{post.path.replace('./', '../')}}">{{post.title}}</a>
    </each>
  </block>
  <block name="aside">
    <include src="./components/archive.html"></include>
  </block>
</extends>
