<extends src="../layouts/base.html" />

<block name="content">
  <section aria-labelledby="series-title">
    <h1 id="series-title">Series: {{ series.title }}</h1>
    <if condition="series.description">
      <p>{{ series.description }}</p>
    </if>
    <ul>
      <for each="p in posts">
        <li>
          <a href="/posts/{{ p.name }}.html">{{ p.title }}</a>
          <time datetime="{{ p.date | date:'YYYY-MM-DD' }}">{{ p.date | date:'long' }}</time>
        </li>
      </for>
    </ul>
    <include src="../components/pagination.html"></include>
  </section>
</block>
