<extends src="./layouts/leaf.html" locals='{"title": " - ###LABEL###"}'>
  <block name="content">
    <row>
      <column size="9">
        <h3>###LABEL###</h3>
        <ol>
          <each
            loop="post, index in posts.filter(post => 
              post.tags.find(tag => tag.key === '###KEY###'))
            "
          >
            <li><a href="{{post.path.replace('./pages/', '../')}}">{{post.title}}{{post.date}}</a></li>
          </each>
        </ol>
      </column>
      <column size="3">
        <include src="./components/archive.html"></include>
      </column>
    </row>
  </block>
</extends>
