<extends src="./layouts/leaf.html" locals='{"basePath": "..", "title": " - ###LABEL###"}'>
  <block name="content">
    <h3>###LABEL###</h3>
    <each loop="post, index in posts.filter(post => post.tags.find(tag => tag.key === '###KEY###'))">
      {{post.dateString}}<a href="{{post.path.replace('./', '../')}}">{{post.title}}</a>
    </each>
  </block>
  <block name="aside">
    <!-- <include src="./components/archive/archive.html" locals='{"basePath": "..", "months": months}'></include> -->
  </block>
</extends>
