@use 'sass:map';

@mixin container-breakpoints($breakpoints: $gs-breakpoints) {
  @each $key, $breakpoint in $breakpoints {
    $container-width: map.get($breakpoint, container-width);
    $container-gutter: map.get($breakpoint, container-gutter);
    $min-viewport-width: map.get($breakpoint, min-viewport-width);
    $max-viewport-width: map.get($breakpoint, max-viewport-width);

    @include media($media-type: screen, $min-width: $min-viewport-width) {
      @at-root {
        :root {
          --gs--container--width: #{$container-width};

          @if not $container-gutter {
            --gs--container--gutter: 0;
          }
        }
      }
    }
  }
}

@mixin containers($breakpoints: $gs-breakpoints) {
  :where(container, [container]) {
    display: block;
    width: var(--gs--container--width);
    height: auto;
    padding: var(--gs--container--gutter);
    margin: 0 auto;

    &[fluid] {
      width: 100%;
    }
  }

  @include container-breakpoints($breakpoints);
}
