@use '../helpers';
@use './functions';

@import 'variables';

/// A mixin for grid system media queries
@mixin media($breakpoint-key, $use-max-width: false) {
  @if $use-max-width == true {
    @include helpers.media(
      $min-width: #{functions.get-breakpoint-value($breakpoint-key, min-vw, $dout-gs-breakpoints)},
      $max-width: #{functions.get-breakpoint-value($breakpoint-key, max-vw, $dout-gs-breakpoints)}
    ) {
      @content;
    }
  } @else {
    @include helpers.media(
      $min-width: #{functions.get-breakpoint-value($breakpoint-key, min-vw, $dout-gs-breakpoints)}
    ) {
      @content;
    }
  }
}
// @include gs-media(md) {
//   border-top: 1px solid red;
// }
