@use 'sass:map';
@use 'sass:meta';
@use '../helpers';
@use './functions';

@forward './helpers';

@import 'variables';
@import 'containers';
@import 'rows';
@import 'columns';
@import 'utilities';

/// Defines the grid system
/// @param {number} $cols [$dout-gs-cols] - cols number
/// @param {size | length} $gutter [$dout-gs-gutter] - horizontal gutter between grid cols
/// @param {size | length} $v-gutter [$dout-gs-v-gutter] - vertical gutter between grid rows
/// @param {object} $breakpoints [$dout-gs-breakpoints] - definition of all the breakpoints
@mixin grid-system(
  $cols: $dout-gs-cols,
  $gutter: $dout-gs-gutter,
  $v-gutter: $dout-gs-v-gutter,
  $breakpoints: $dout-gs-breakpoints
) {
  :root {
    --dout--gs--container--width: 100vw;
    --dout--gs--cols: #{$cols};
    --dout--gs--gutter: #{$gutter};
    --dout--gs--v-gutter: #{$v-gutter};
  }

  @include containers($breakpoints);
  @include rows($breakpoints);
  @include cols($cols, $breakpoints);
  @include utilities($breakpoints);
}

@layer grid-system {
  // activates the grid system
  @include grid-system();
}
