@layer api {
  :root {
    --dout--gutter: 1rem;
    --dout--block-margin: 0 0 var(--dout--gutter);

    --dout--color-primary: hsl(0, 0%, 96%);
    --dout--color-secondary: hsl(0, 0%, 92%);
    --dout--background-color-primary: hsl(192, 11%, 18%);
    --dout--background-color-secondary: hsl(192, 11%, 13%);

    // --dout--breakpoint--phone: 320px;
    // --dout--breakpoint--phone-big: 375px;
    // --dout--breakpoint--phone-bigger: 414px;
    // --dout--breakpoint--small: 540px;
    // --dout--breakpoint--medium: 992px;
    // --dout--breakpoint--large: 1200px;
    // --dout--breakpoint--extra-large: 1600px;
  }
}
