@layer dude {
  @layer palette {
    :root {
      /* // https://contrastchecker.com */
      --dude--palette--light: #e0e0e0;
      --dude--palette--dark: #323232;

      --dude--palette--gray-100: #f3f3f3;
      --dude--palette--gray-200: #dedede;
      --dude--palette--gray-300: #bdbdbd;
      --dude--palette--gray-400: #a2a2a2;
      --dude--palette--gray-500: #888888;
      --dude--palette--gray-600: #727272;
      --dude--palette--gray-700: #565656;
      --dude--palette--gray-800: #3b3b3b;
      --dude--palette--gray-900: #181818;

      --dude--palette--cyan-100: #e7f8fe;
      --dude--palette--cyan-200: #a6def2;
      --dude--palette--cyan-300: #6cd4f9;
      --dude--palette--cyan-400: #2fb2e0;
      --dude--palette--cyan-500: #2793b9;
      --dude--palette--cyan-600: #1d7d9f;
      --dude--palette--cyan-700: #187293;
      --dude--palette--cyan-800: #125f7f;
      --dude--palette--cyan-900: #0d4d66;

      --dude--palette--yellow-300: #fef3b8;
      --dude--palette--yellow-400: #fce77c;
      --dude--palette--yellow-500: #ddc759;
      --dude--palette--yellow-600: #d9b606;
    }
  }
}
