@layer dude {
  @layer typography {
    :root {
      --dude--t--ratio: 1.125;

      --dude--t--font-family: system-ui, sans-serif;
      --dude--t--font-size--base: 1.8rem;
      --dude--t--font-weight--base: 300;
      --dude--t--line-height--base: 1.25;

      --dude--t--font-size: var(--dude--t--font-size--base);
      --dude--t--font-weight: var(--dude--t--font-weight--base);
      --dude--t--line-height: var(--dude--t--line-height--base);
      --dude--t--font-style: var(--dude--t--font-style--base);
      --dude--t--letter-spacing: initial;
      --dude--t--word-spacing: initial;
      --dude--t--white-space: initial;
      --dude--t--text-wrap: balance;

      --dude--t--gap: var(--dude--t--font-size--base);
    }

    html {
      font-size: 10px;
    }

    body {
      font-family: var(--dude--t--font-family);
      font-size: var(--dude--t--font-size);
      font-style: var(--dude--t--font-style);
      font-weight: var(--dude--t--font-weight);
      line-height: var(--dude--t--line-height);
      letter-spacing: var(--dude--t--letter-spacing);
      word-spacing: var(--dude--t--word-spacing);
      white-space: var(--dude--t--white-space);
      text-wrap: var(--dude--t--text-wrap);

      &[fluid] {
        --dude--t--font-size: clamp(100%, 1.6rem + 1vw, 3.2rem);
      }

      * {
        font-family: var(--dude--t--font-family);
        font-size: var(--dude--t--font-size);
        font-weight: var(--dude--t--font-weight);
        line-height: var(--dude--t--line-height);
        font-style: var(--dude--t--font-style);
        letter-spacing: var(--dude--t--letter-spacing);
        word-spacing: var(--dude--t--word-spacing);
        white-space: var(--dude--t--white-space);
        text-wrap: var(--dude--t--text-wrap);
      }

      h1 {
        --dude--t--font-size: calc(1em * pow(var(--dude--t--ratio), 6));
      }

      h2 {
        --dude--t--font-size: calc(1em * pow(var(--dude--t--ratio), 5));
      }

      h3 {
        --dude--t--font-size: calc(1em * pow(var(--dude--t--ratio), 4));
      }

      h4 {
        --dude--t--font-size: calc(1em * pow(var(--dude--t--ratio), 3));
      }

      h5 {
        --dude--t--font-size: calc(1em * pow(var(--dude--t--ratio), 2));
      }

      h6 {
        --dude--t--font-size: calc(1em * pow(var(--dude--t--ratio), 1));
      }
    }

    :where(hgroup, h1, h2, h3, h4, h5, h6) {
      --dude--t--font-weight: 500;
    }

    :where(hgroup, h1, h2, h3, h4, h5, h6, p, blockquote, pre) {
      margin: 0;

      + :where(hgroup, h1, h2, h3, h4, h5, h6) {
        margin-block-start: calc(var(--dude--t--gap) * 1.5);
      }

      + :where(p, blockquote, pre) {
        margin-block-start: calc(var(--dude--t--gap) / 2);
      }
    }
  }
}
