[animation] {
  --dout--ani--duration: 400ms;
  --dout--ani--easing: ease-in-out;
  --dout--ani--name: initial;
  --dout--ani--delay: 0;
  --dout--ani--fill: forwards;

  > * {
    animation-duration: var(--dout--ani--duration);
    animation-timing-function: var(--dout--ani--easing);
    animation-name: var(--dout--ani--name);
    animation-delay: var(--dout--ani--delay);
    animation-fill-mode: var(--dout--ani--fill);
  }
}

stagger[animation='fade-in'] {
  --dout--ani--name: fade-in;

  > * {
    opacity: 0;
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}
