stagger {
  --stagger--delay: 400ms;

  display: block;

  > * {
    --stagger--index: 0;
    --ani--delay: calc(var(--stagger--delay) * var(--stagger--index));
  }
}

.stack.present {
  > :not(.present) {
    stagger:not(.fragment) {
      --ani--name: none;
    }
  }
}

stagger.fragment:not(.visible) {
  --ani--name: none;
}
