stagger {
  --dout--ani--stagger--delay: 400ms;

  display: block;

  > * {
    --dout--ani--stagger--index: 0;
    --dout--ani--delay: calc(var(--dout--ani--stagger--delay) * var(--dout--ani--stagger--index));
  }
}

.stack.present {
  > :not(.present) {
    stagger:not(.fragment) {
      --dout--ani--name: none;
    }
  }
}

stagger.fragment:not(.visible) {
  --dout--ani--name: none;
}
