@import 'variables';

@font-face {
  font-family: '#{$dude-dude-icon-font-family}';
  src: url('./iconography/icons/fonts/dude.ttf') format('truetype'),
    url('./iconography/icons/fonts/dude.woff') format('woff'), url('./iconography/icons/fonts/dude.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='dude-icon'] {
  --dude--t--font-family: '#{$dude-dude-icon-font-family}';
  --dude--t--font-size: inherit;
  --dude--t--font-weight: 400;
  --dude--t--line-height: 1;
  --dude--t--font-style: normal;

  /* use !important to prevent issues with browser extensions that change fonts */
  position: relative;
  place-content: center;
  place-items: center;
  speak: never;
  font-variant: normal;
  text-transform: none;

  inline-size: 1ch;
  aspect-ratio: 1;

  color: CanvasText;
  background-color: transparent;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  [class^='path'] {
    // font-family: '#{$dude-dude-icon-font-family}' !important;

    + [class^='path'] {
      position: absolute;
      inset: 0;
    }
  }
}

.dude-icon-logo .path1 {
  &:before {
    content: $dude-icon-logo-path1;
    color: rgb(39, 121, 135);
  }
}
.dude-icon-logo .path2 {
  &:before {
    content: $dude-icon-logo-path2;
    color: rgb(245, 245, 247);
  }
}
.dude-icon-logo .path3 {
  &:before {
    content: $dude-icon-logo-path3;
    color: rgb(245, 216, 97);
  }
}
.dude-icon-logo .path4 {
  &:before {
    content: $dude-icon-logo-path4;
    color: rgb(245, 245, 247);
  }
}
.dude-icon-search {
  &:before {
    content: $dude-icon-search;
  }
}
.dude-icon-arrow {
  &:before {
    content: $dude-icon-arrow;
  }
}
.dude-icon-layout-cards {
  &:before {
    content: $dude-icon-layout-cards;
  }
}
.dude-icon-layout-list {
  &:before {
    content: $dude-icon-layout-list;
  }
}
.dude-icon-theme-dark {
  &:before {
    content: $dude-icon-theme-dark;
  }
}
.dude-icon-theme-light {
  &:before {
    content: $dude-icon-theme-light;
  }
}
.dude-icon-theme-os {
  &:before {
    content: $dude-icon-theme-os;
  }
}
