$dude-dude-icon-font-family: "dude" !default;
$dude-dude-icon-font-path: "../fonts" !default;

$dude-icon-logo-path1: unquote('"\\e91e"');
$dude-icon-logo-path2: unquote('"\\e91f"');
$dude-icon-logo-path3: unquote('"\\e920"');
$dude-icon-logo-path4: unquote('"\\e921"');
$dude-icon-search: unquote('"\\e90f"');
$dude-icon-arrow: unquote('"\\e910"');
$dude-icon-layout-cards: unquote('"\\e916"');
$dude-icon-layout-list: unquote('"\\e91a"');
$dude-icon-theme-dark: unquote('"\\e91b"');
$dude-icon-theme-light: unquote('"\\e91d"');
$dude-icon-theme-os: unquote('"\\e900"');




