$doutdev-icons--font-family: "icons" !default;
$doutdev-icons--font-path: "../fonts" !default;

$icons-logo-path1: "\e91e";
$icons-logo-path2: "\e91f";
$icons-logo-path3: "\e920";
$icons-logo-path4: "\e921";
$icons-search: "\e90f";
$icons-arrow: "\e910";
$icons-layout-cards: "\e916";
$icons-layout-list: "\e91a";
$icons-theme-dark: "\e91b";
$icons-theme-bright: "\e91d";

