@layer dude {
  @layer components {
    @layer animated-logo {
      @keyframes animate {
        0% {
          translate: var(--dude--animated-logo--initial--translate, none);
        }

        100% {
          opacity: 1;
        }
      }

      :root {
        --dude--animated-logo--delay: 0.3s;
      }

      .animated-logo {
        block-size: 60rem;

        overflow: visible;

        path {
          animation: animate 1s calc(var(--dude--animated-logo--delay) * var(--dude--animated-logo--index)) forwards
            cubic-bezier(0.215, 0.61, 0.355, 1);

          will-change: opacity, translate;
          opacity: 0;
        }

        .do {
          --dude--animated-logo--initial--translate: -60% -60%;
          --dude--animated-logo--index: 0;
        }

        .ut {
          --dude--animated-logo--initial--translate: 60% 0%;
          --dude--animated-logo--index: 2;
        }

        .dev {
          --dude--animated-logo--initial--translate: -45% 40%;
          --dude--animated-logo--index: 4;
        }

        .lt {
          --dude--animated-logo--initial--translate: -45% -20%;
          --dude--animated-logo--index: 5;
        }

        .sl {
          --dude--animated-logo--initial--translate: 20% -70%;
          --dude--animated-logo--index: 3;
        }

        .gt {
          --dude--animated-logo--initial--translate: 50% 15%;
          --dude--animated-logo--index: 1;
        }
      }
    }
  }
}
