<header>
  <menu primary>
    <a href="/" logo title="DoUt.dev">
      <h1>
        <i class="dude-icon-logo">
          <span class="path1"></span>
          <span class="path2"></span>
          <span class="path3"></span>
          <span class="path4"></span>
        </i>
        dout.dev
        <span sr-only>Go to the Home page</span>
      </h1>
    </a>
    <!-- <a href="{{basePath}}/about.html" title="About" aria-label="Go to the About page">About</a>
    <a href="{{basePath}}/playground.html" title="Playground" aria-label="Go to the Playground page">Playground</a>
    <a href="{{basePath}}/404.html" title="Error" aria-label="Go to the Error page">404</a> -->
  </menu>
  <menu secondary>
    <!-- TODO: implement search datalist -->
    <!-- <a href="{{basePath}}/search.html" title="Search" aria-label="Go to the Search page">
      <i class="dude-icon-search"></i>
      <span sr-only>Go to the Search page</span>
    </a> -->
    <include src="./components/color-scheme-switcher/color-scheme-switcher-label.html"></include>
  </menu>
</header>
