<header>
  <container fluid>
    <logo>
      <a href="/" title="Do Ut Dev">
        <img src="{{basePath}}/assets/images/logo.svg" alt="Do Ut Dev" style="width: 3rem" />
        <span>Do Ut Dev</span>
      </a>
    </logo>
    <menu user>
      <a href="{{basePath}}/pages/about.html">About</a>
      <a href="{{basePath}}/pages/playground.html">Playground</a>
      <a href="{{basePath}}/pages/404.html">404</a>
    </menu>
    <categories>
      <include src="./components/tags.html"></include>
    </categories>
  </container>
</header>
