:root {
  --dout--color--cyan-300: #a2eae4;
  --dout--color--cyan-400: #87dbff;
  --dout--color--cyan-500: #3ca7ff;
  --dout--color--cyan-600: #0c3d5c;

  --dout--color--yellow-400: #fdd45b;

  --dout--color--red-400: #e86a58;

  --dout--color--green-400: #4fd4ae;
  --dout--color--green-500: #2fb28c;
  --dout--color--green-600: #277987;

  --dout--color--salmon-300: #fdd7bd;
  --dout--color--salmon-400: #fac5aa;
  --dout--color--salmon-500: #f58c79;

  --dout--color--white-100: #dedede;
  --dout--color--white-200: #f6f6f6;
  --dout--color--white-300: #fefefe;
  --dout--color--white-400: #ffffff;

  --dout--color--black-300: #333333;
  --dout--color--black-400: #2c292a;
  --dout--color--black-500: #222222;
  --dout--color--black-600: #0d0b0b;
  --dout--color--black-700: #010101;

  --dout--color--gray-300: #c7c7c7;
  --dout--color--gray-400: #909196;
  --dout--color--gray-500: #434343;
  --dout--color--gray-600: #2a2b33;
  --dout--color--gray-700: #141519;
  --dout--color--gray-800: #1e1f24;

  --dout--color--lightgray-300: #d8d8d8;
  --dout--color--lightgray-400: #999387;
  --dout--color--lightgray-500: #828282;
  --dout--color--lightgray-600: #717171;
  --dout--color--lightgray-700: #585858;
  --dout--color--lightgray-800: #424242;

  --dout--color--primary: #277987;
  --dout--color--primary--hover: color-mix(in srgb, var(--dout--color--primary), #fff 20%);

  --dout--color--secondary: #f5d861;
  --dout--color--secondary--hover: color-mix(in srgb, var(--dout--color--secondary), #000 20%);

  --dout--color--white-400: #f1f1f1;
  --dout--color--white-500: #f6f6f6;

  --dout--color--gray-300: #c7c7c7;
  --dout--color--gray-400: #909196;
  --dout--color--gray-500: #434343;
  --dout--color--gray-600: #2a2b33;
  --dout--color--gray-700: #1e1f24;
  --dout--color--gray-800: #141519;

  --dout--theme--dark--dout--color: var(--dout--color--gray-400);
  --dout--theme--dark--background-color: var(--dout--color--gray-800);
  --dout--theme--dark--header--background-color: var(--dout--color--gray-700);
  --dout--theme--dark--accent-color: var(--dout--color--secondary);
  --dout--theme--dark--accent-color--hover: var(--dout--color--secondary--hover);
  --dout--theme--dark--accent-color--secondary: var(--dout--color--primary);
  --dout--theme--dark--accent-color--secondary--hover: var(--dout--color--primary--hover);
  --dout--theme--dark--highlight-color: var(--dout--color--secondary);
  // --dout--theme--dark--dout--focus-color: #f5d761cc;
  --dout--theme--dark--dout--focus-color: color-mix(in srgb, var(--dout--color--secondary), transparent 30%);

  --dout--theme--bright--dout--color: var(--dout--color--black-400);
  --dout--theme--bright--background-color: var(--dout--color--white-400);
  --dout--theme--bright--header--background-color: var(--dout--color--white-500);
  --dout--theme--bright--accent-color: var(--dout--color--primary);
  --dout--theme--bright--accent-color--hover: var(--dout--color--primary--hover);
  --dout--theme--bright--accent-color--secondary: var(--dout--color--secondary);
  --dout--theme--bright--accent-color--secondary--hover: var(--dout--color--secondary--hover);
  --dout--theme--bright--highlight-color: var(--dout--color--primary);
  // --dout--theme--bright--dout--focus-color: #277987cc;
  --dout--theme--bright--dout--focus-color: color-mix(in srgb, var(--dout--color--primary), transparent 30%);

  :has([name='theme-switcher']:not(:checked)) {
    --dout--theme--color: var(--dout--theme--dark--dout--color);
    --dout--theme--background-color: var(--dout--theme--dark--background-color);
    --dout--theme--header--background-color: var(--dout--theme--dark--header--background-color);
    --dout--theme--accent-color: var(--dout--theme--dark--accent-color);
    --dout--theme--accent-color--hover: var(--dout--theme--dark--accent-color--hover);
    --dout--theme--accent-color--secondary: var(--dout--theme--dark--accent-color--secondary);
    --dout--theme--accent-color--secondary--hover: var(--dout--theme--dark--accent-color--secondary--hover);
    --dout--theme--highlight-color: var(--dout--theme--dark--highlight-color);
    --dout--theme--focus-color: var(--dout--theme--dark--dout--focus-color);
  }
  :has([name='theme-switcher']:checked) {
    --dout--theme--color: var(--dout--theme--bright--dout--color);
    --dout--theme--background-color: var(--dout--theme--bright--background-color);
    --dout--theme--header--background-color: var(--dout--theme--bright--header--background-color);
    --dout--theme--accent-color: var(--dout--theme--bright--accent-color);
    --dout--theme--accent-color--hover: var(--dout--theme--bright--accent-color--hover);
    --dout--theme--accent-color--secondary: var(--dout--theme--bright--accent-color--secondary);
    --dout--theme--accent-color--secondary--hover: var(--dout--theme--bright--accent-color--secondary--hover);
    --dout--theme--highlight-color: var(--dout--theme--bright--highlight-color);
    --dout--theme--focus-color: var(--dout--theme--bright--dout--focus-color);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    :has([theme-switcher]:not(:checked)) {
      --dout--theme--color: var(--dout--theme--bright--dout--color);
      --dout--theme--background-color: var(--dout--theme--bright--background-color);
      --dout--theme--header--background-color: var(--dout--theme--bright--header--background-color);
      --dout--theme--accent-color: var(--dout--theme--bright--accent-color);
      --dout--theme--accent-color--hover: var(--dout--theme--bright--accent-color--hover);
      --dout--theme--accent-color--secondary: var(--dout--theme--bright--accent-color--secondary);
      --dout--theme--accent-color--secondary--hover: var(--dout--theme--bright--accent-color--secondary--hover);
      --dout--theme--highlight-color: var(--dout--theme--bright--highlight-color);
      --dout--theme--focus-color: var(--dout--theme--bright--dout--focus-color);
    }
    :has([theme-switcher]:checked) {
      --dout--theme--color: var(--dout--theme--dark--dout--color);
      --dout--theme--background-color: var(--dout--theme--dark--background-color);
      --dout--theme--header--background-color: var(--dout--theme--dark--header--background-color);
      --dout--theme--accent-color: var(--dout--theme--dark--accent-color);
      --dout--theme--accent-color--hover: var(--dout--theme--dark--accent-color--hover);
      --dout--theme--accent-color--secondary: var(--dout--theme--dark--accent-color--secondary);
      --dout--theme--accent-color--secondary--hover: var(--dout--theme--dark--accent-color--secondary--hover);
      --dout--theme--highlight-color: var(--dout--theme--dark--highlight-color);
      --dout--theme--focus-color: var(--dout--theme--dark--dout--focus-color);
    }
  }
}
