@layer core {
  body {
    font-family: var(--dout--t--ff);
    font-size: var(--dout--t--fs);
    line-height: var(--dout--t--lh);
    font-weight: var(--dout--t--fw);

    * {
      font-family: var(--dout--t--ff);
      font-size: var(--dout--t--fs);
      line-height: var(--dout--t--lh);
      font-weight: var(--dout--t--fw);
    }
  }
}
