// *** rem unit reset
// setting font-size to 10px at the root of the DOM
// allows to calculate a simple division by 10,
// or multiplication by 10 (it depends by the point of view),
// to make conversions between px and rem.
// Along the simplification of writing a pixel perfect codebase,
// the big advantage is that every measure will be zoom related.

// ** examples
// 10px => 1rem
// 165px => 16.5rem
// 1.5rem => 15px

:root {
  --dude--rem-unit: 10px;
}

html {
  font-size: var(--dude--rem-unit);
}

body {
  font-size: 1.6rem;
}
