@layer semantic-reset {
  @import 'rem';

  *,
  *:where(::before, ::after) {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  :where(html, body) {
    padding: 0;
    margin: 0;

    overscroll-behavior: none;
  }

  // @import 'focus';
  // @import 'code';
  // @import 'media';
  // @import 'tables';
  // @import 'forms';
  // @import 'cursors';
  // @import 'touch';
  // @import 'a11y';
}
