header {
  position: sticky;
  top: 0;
  z-index: 3;

  padding: var(--theme--gutter) 0;

  background-color: var(--theme--background-color);

  logo {
    a {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: center;
      gap: .5ch;
    }
    
    img {
      width: 2rem;
    }
  }
}
