last-article {
  display: flex;
  flex-flow: row nowrap;

  background-color: var(--theme--header--background-color);
  transition: background-color 0.3s linear;

  article {
    display: flex;
    flex-flow: column nowrap;

    header {
      display: flex;
      flex-flow: column-reverse nowrap;
      gap: 0;
    }

    content {
      display: flex;
    }
  }
}

body:has(input[type='checkbox']:checked) {
  last-article {
    background-color: var(--theme--header--background-color--switch);
  }
}
