<label
  for="color-scheme-switcher"
  title="Switch color scheme"
  aria-label="Select this in order to cycle between light/dark color schemes or use system preferences"
  tabindex="0"
  role="switch"
>
  <i class="dude-icon"></i>
  <span sr-only>Select this in order to cycle between light/dark color schemes or use system preferences</span>
</label>
<!-- <i class="dude-icon-logo">
  <span class="path1"></span>
  <span class="path2"></span>
  <span class="path3"></span>
  <span class="path4"></span>
</i> -->
