@layer pix-components {
  @layer pix-highlighter {
    :root[data-pix-highlighter-theme='cyberpunk'] pre[is='pix-highlighter'] {
      --pix-highlighter--bg: #090412;
      --pix-highlighter--fg: #f9f7ff;
      --pix-highlighter--kw: #ff4fd8;
      --pix-highlighter--str: #ffe45e;
      --pix-highlighter--num: #62f3ff;
      --pix-highlighter--com: #8b7aa8;
      --pix-highlighter--id: #7ef7c9;
      --pix-highlighter--op: #ff8b39;
      --pix-highlighter--tag: #ff4fd8;
      --pix-highlighter--attr: #4cc9f0;
      --pix-highlighter--key: #62f3ff;
      --pix-highlighter--var: #7ef7c9;
      --pix-highlighter--mac: #ff6ad5;
      --pix-highlighter--pp: #ff9f1c;
      --pix-highlighter--prop: #9d7dff;
      --pix-highlighter--type: #4cc9f0;
      --pix-highlighter--mdh: #ff4fd8;
      --pix-highlighter--mde: #ff8b39;
      --pix-highlighter--mds: #ffe45e;
      --pix-highlighter--mdc: #62f3ff;
      --pix-highlighter--mdl: #7ef7c9;
      --pix-highlighter--mdbq: #a59ac7;
      --pix-highlighter--mdli: #ff9f1c;
      --pix-highlighter--mdhr: #453363;
      --pix-highlighter--mdimg: #4cc9f0;

      --pix-highlighter--tab-size: 2;
      --pix-highlighter--line-height: 1.55;
      --pix-highlighter--text-shadow: 0 0 18px rgba(255, 79, 216, 0.18);
    }
  }
}
