@layer components {
  :root[data-pix-highlighter-theme='cyberpunk'] pre[is='pix-highlighter'] {
    --dout--pix-bg: #090412;
    --dout--pix-fg: #f9f7ff;
    --dout--pix-kw: #ff4fd8;
    --dout--pix-str: #ffe45e;
    --dout--pix-num: #62f3ff;
    --dout--pix-com: #8b7aa8;
    --dout--pix-id: #7ef7c9;
    --dout--pix-op: #ff8b39;
    --dout--pix-tag: #ff4fd8;
    --dout--pix-attr: #4cc9f0;
    --dout--pix-key: #62f3ff;
    --dout--pix-var: #7ef7c9;
    --dout--pix-mac: #ff6ad5;
    --dout--pix-pp: #ff9f1c;
    --dout--pix-prop: #9d7dff;
    --dout--pix-type: #4cc9f0;
    --dout--pix-mdh: #ff4fd8;
    --dout--pix-mde: #ff8b39;
    --dout--pix-mds: #ffe45e;
    --dout--pix-mdc: #62f3ff;
    --dout--pix-mdl: #7ef7c9;
    --dout--pix-mdbq: #a59ac7;
    --dout--pix-mdli: #ff9f1c;
    --dout--pix-mdhr: #453363;
    --dout--pix-mdimg: #4cc9f0;
    --dout--pix-tab-size: 2;
    --dout--pix-line-height: 1.55;
    --dout--pix-text-shadow: 0 0 18px rgba(255, 79, 216, 0.18);
  }
}
