@layer components {
  :root[data-pix-highlighter-theme='darcula'] pre[is='pix-highlighter'] {
    --dout--pix-bg: #2b2b2b;
    --dout--pix-fg: #a9b7c6;
    --dout--pix-kw: #cc7832;
    --dout--pix-str: #6a8759;
    --dout--pix-num: #6897bb;
    --dout--pix-com: #808080;
    --dout--pix-id: #a9b7c6;
    --dout--pix-op: #a9b7c6;
    --dout--pix-tag: #e8bf6a;
    --dout--pix-attr: #bababa;
    --dout--pix-key: #9876aa;
    --dout--pix-var: #9876aa;
    --dout--pix-mac: #bbb529;
    --dout--pix-pp: #ffc66d;
    --dout--pix-prop: #ffc66d;
    --dout--pix-type: #a9b7c6;
    --dout--pix-mdh: #ffc66d;
    --dout--pix-mde: #cc7832;
    --dout--pix-mds: #e8bf6a;
    --dout--pix-mdc: #6a8759;
    --dout--pix-mdl: #6897bb;
    --dout--pix-mdbq: #808080;
    --dout--pix-mdli: #9876aa;
    --dout--pix-mdhr: #5c6370;
    --dout--pix-mdimg: #bbb529;
    --dout--pix-tab-size: 2;
    --dout--pix-line-height: 1.55;
    --dout--pix-text-shadow: none;
  }
}
