@layer components {
  :root:not([data-pix-highlighter-theme]) pre[is='pix-highlighter'],
  :root[data-pix-highlighter-theme='default'] pre[is='pix-highlighter'] {
    --dout--pix-bg: #0b0d10;
    --dout--pix-fg: #e6e6e6;
    --dout--pix-kw: #c792ea;
    --dout--pix-str: #ecc48d;
    --dout--pix-num: #f78c6c;
    --dout--pix-com: #697098;
    --dout--pix-id: #82aaff;
    --dout--pix-op: #c3e88d;
    --dout--pix-tag: #5ad4e6;
    --dout--pix-attr: #f2ae49;
    --dout--pix-key: #ffcc66;
    --dout--pix-var: #d5ff80;
    --dout--pix-mac: #ff9dd9;
    --dout--pix-pp: #8bd5ff;
    --dout--pix-prop: #9cdcfe;
    --dout--pix-type: #7fd5a3;
    --dout--pix-mdh: #5ad4e6;
    --dout--pix-mde: #f2ae49;
    --dout--pix-mds: #ffd166;
    --dout--pix-mdc: #c3e88d;
    --dout--pix-mdl: #80cbc4;
    --dout--pix-mdbq: #a0a7bd;
    --dout--pix-mdli: #b3e5fc;
    --dout--pix-mdhr: #6c7a89;
    --dout--pix-mdimg: #90caf9;
    --dout--pix-tab-size: 2;
    --dout--pix-line-height: 1.5;
    --dout--pix-text-shadow: none;
  }
}
