@layer components {
  :root[data-pix-highlighter-theme='prettylights'] pre[is='pix-highlighter'] {
    --pix-bg: light-dark(#f6f8fa, #151b23);
    --pix-fg: light-dark(#1f2328, #f0f6fc);
    --pix-kw: light-dark(#cf222e, #ff7b72);
    --pix-str: light-dark(#0a3069, #a5d6ff);
    --pix-num: light-dark(#1f2328, #f0f6fc);
    --pix-com: light-dark(#59636e, #9198a1);
    --pix-id: light-dark(#6639ba, #d2a8ff);
    --pix-op: light-dark(#0550ae, #79c0ff);
    --pix-tag: light-dark(#0550ae, #7ee787);
    --pix-attr: light-dark(#0550ae, #79c0ff);
    --pix-key: light-dark(#0550ae, #7ee787);
    --pix-var: light-dark(#953800, #ffa657);
    --pix-mac: light-dark(#6639ba, #d2a8ff);
    --pix-pp: light-dark(#59636e, #9198a1);
    --pix-prop: light-dark(#0550ae, #7ee787);
    --pix-type: light-dark(#6639ba, #d2a8ff);
    --pix-mdh: light-dark(#0550ae, #1f6feb);
    --pix-mde: light-dark(#6639ba, #d2a8ff);
    --pix-mds: light-dark(#1f2328, #f0f6fc);
    --pix-mdc: light-dark(#116329, #7ee787);
    --pix-mdl: light-dark(#0a3069, #a5d6ff);
    --pix-mdbq: light-dark(#59636e, #9198a1);
    --pix-mdli: light-dark(#953800, #ffa657);
    --pix-mdhr: light-dark(#59636e, #9198a1);
    --pix-mdimg: light-dark(#953800, #ffa657);
    --pix-tab-size: 2;
    --pix-line-height: 1.6;
    --pix-text-shadow: none;
    color-scheme: light dark;
  }
}
