@layer components {
  :root[data-pix-highlighter-theme='prettylights'] pre[is='pix-highlighter'] {
    --dout--pix-bg: light-dark(#f6f8fa, #151b23);
    --dout--pix-fg: light-dark(#1f2328, #f0f6fc);
    --dout--pix-kw: light-dark(#cf222e, #ff7b72);
    --dout--pix-str: light-dark(#0a3069, #a5d6ff);
    --dout--pix-num: light-dark(#1f2328, #f0f6fc);
    --dout--pix-com: light-dark(#59636e, #9198a1);
    --dout--pix-id: light-dark(#6639ba, #d2a8ff);
    --dout--pix-op: light-dark(#0550ae, #79c0ff);
    --dout--pix-tag: light-dark(#0550ae, #7ee787);
    --dout--pix-attr: light-dark(#0550ae, #79c0ff);
    --dout--pix-key: light-dark(#0550ae, #7ee787);
    --dout--pix-var: light-dark(#953800, #ffa657);
    --dout--pix-mac: light-dark(#6639ba, #d2a8ff);
    --dout--pix-pp: light-dark(#59636e, #9198a1);
    --dout--pix-prop: light-dark(#0550ae, #7ee787);
    --dout--pix-type: light-dark(#6639ba, #d2a8ff);
    --dout--pix-mdh: light-dark(#0550ae, #1f6feb);
    --dout--pix-mde: light-dark(#6639ba, #d2a8ff);
    --dout--pix-mds: light-dark(#1f2328, #f0f6fc);
    --dout--pix-mdc: light-dark(#116329, #7ee787);
    --dout--pix-mdl: light-dark(#0a3069, #a5d6ff);
    --dout--pix-mdbq: light-dark(#59636e, #9198a1);
    --dout--pix-mdli: light-dark(#953800, #ffa657);
    --dout--pix-mdhr: light-dark(#59636e, #9198a1);
    --dout--pix-mdimg: light-dark(#953800, #ffa657);
    --dout--pix-tab-size: 2;
    --dout--pix-line-height: 1.6;
    --dout--pix-text-shadow: none;
    color-scheme: light dark;
  }
}
