@layer components {
  :root[data-pix-highlighter-theme='prism'] pre[is='pix-highlighter'] {
    --dout--pix-bg: #f5f2f0;
    --dout--pix-fg: #000000;
    --dout--pix-kw: #07a;
    --dout--pix-str: #690;
    --dout--pix-num: #905;
    --dout--pix-com: slategray;
    --dout--pix-id: #5f5a57;
    --dout--pix-op: #9a6e3a;
    --dout--pix-tag: #905;
    --dout--pix-attr: #690;
    --dout--pix-key: #905;
    --dout--pix-var: #e90;
    --dout--pix-mac: #dd4a68;
    --dout--pix-pp: slategray;
    --dout--pix-prop: #905;
    --dout--pix-type: #dd4a68;
    --dout--pix-mdh: #07a;
    --dout--pix-mde: #dd4a68;
    --dout--pix-mds: #000000;
    --dout--pix-mdc: #690;
    --dout--pix-mdl: #07a;
    --dout--pix-mdbq: slategray;
    --dout--pix-mdli: #905;
    --dout--pix-mdhr: #999;
    --dout--pix-mdimg: #e90;
    --dout--pix-tab-size: 2;
    --dout--pix-font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    --dout--pix-line-height: 1.5;
    --dout--pix-text-shadow: 0 1px white;
  }
}
