<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="The DoUt.dev Blog" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>DoUt.Dev{{title}}</title>
    <link rel="stylesheet" href="./styles/index.scss" />
  </head>
  <body fluid>
    <include src="./components/theme-switcher.html" locals='{"basePath": "."}'></include>
    <include src="./components/header.html" locals='{"basePath": "."}'></include>
    <main>
      <include src="./components/last-article.html" locals='{"basePath": "."}'></include>
      <include src="./components/tags.html" locals='{"basePath": "."}'></include>
      <div container>
        <div row>
          <div col size="md-10">
            <block name="content"></block>
          </div>
          <div col size="md-2">
            <aside>
              <block name="aside"></block>
            </aside>
          </div>
        </div>
      </div>
    </main>
    <include src="./components/footer.html" locals='{"basePath": "."}'></include>
    <script src="./scripts/index.js" type="module"></script>
    <block name="scripts"></block>
  </body>
</html>
